*.iml
/checkstyle-josm.xml
/.idea/
/build/
/build2/
/dist/
/javadoc
# Ignore developer-provided jvm argument -Djosm.home=josmHome directory
/josmHome
/resources/CONTRIBUTION
/resources/LICENSE
/resources/README
/resources/REVISION
/resources/data/projection/
/src/org/openstreetmap/josm/gui/mappaint/mapcss/parsergen/
/tools/ivy/
#
*~
.settings/
.svn/
.gradle/
.vscode/
*.jar
*.rst
**/cache/
archive/
bin/
bintest/
foobar
hikemap
lib/
test/build/
test/data/
test_BLOCK*
test/report/
tools/ivy-report/
tools/checkstyle/target/
sess.joz
EXCLUDE-TAR
failed.png
josm.code-workspace
resources/data/Verkehrszeichen-vorlage.xml
usage_report.sh
